__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
setting.toml
vector
logs
debug
docs
plugins_config
.idea
image
data
.vscode
.vs
test.txt

.git/
Dockerfile
docker-compose.yml
README.md
.github
.gitignore
run.bat
